# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xccheckout
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives & logs
*.xcarchive
*.ipa
*.dSYM.zip
*.log

# Misc
.DS_Store
*.orig