# Xcode / iOS
DerivedData/
build/
xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png

# OS junk
.DS_Store
*.log

# Local data / SQLite
api/data/*.db
